{
  "swagger": "2.0",
  "info": {
    "title": "Golf v2",
    "version": "1.0"
  },
  "host": "api.sportsdata.io",
  "basePath": "/golf/v2",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/{format}/Tournaments": {
      "get": {
        "description": "Schedules",
        "operationId": "Schedules",
        "summary": "Schedules",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Tournament"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Players": {
      "get": {
        "description": "Player Profiles - All",
        "operationId": "PlayerProfilesAll",
        "summary": "Player Profiles - All",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "description": "Player",
        "operationId": "Player",
        "summary": "Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>40000019</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Player"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Leaderboard/{tournamentid}": {
      "get": {
        "description": "Leaderboard [Live & Final]",
        "operationId": "Leaderboard[LiveFinal]",
        "summary": "Leaderboard [Live & Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Leaderboard"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/NewsByPlayerID/{playerid}": {
      "get": {
        "description": "Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.",
        "operationId": "NewsByPlayer",
        "summary": "News - by Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>40000019</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/News"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/NewsByDate/{date}": {
      "get": {
        "description": "Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.",
        "operationId": "NewsByDate",
        "summary": "News - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/News"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/News": {
      "get": {
        "description": "Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.",
        "operationId": "News",
        "summary": "News",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/News"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Injuries": {
      "get": {
        "description": "Player Details - by Injured",
        "operationId": "PlayerDetailsByInjured",
        "summary": "Player Details - by Injured",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Injury"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/InjuriesByHistorical": {
      "get": {
        "description": "Injuries (Historical)",
        "operationId": "InjuriesHistorical",
        "summary": "Injuries (Historical)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Injury"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerTournamentStatsByPlayer/{tournamentid}/{playerid}": {
      "get": {
        "description": "Player Tournament Stats - by Player",
        "operationId": "PlayerTournamentStatsByPlayer",
        "summary": "Player Tournament Stats - by Player",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          },
          {
            "name": "playerid",
            "in": "path",
            "description": "Unique FantasyData Player ID.\nExample:<code>40000019</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PlayerTournament"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerTournamentProjectionStats/{tournamentid}": {
      "get": {
        "description": "Player Projected Stats - by Tournament",
        "operationId": "PlayerProjectedStatsByTournament",
        "summary": "Player Projected Stats - by Tournament",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>78</code>, <code>79</code>, <code>80</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerTournamentProjection"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Rankings/{season}": {
      "get": {
        "description": "Rankings",
        "operationId": "Rankings",
        "summary": "Rankings",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n<br>Examples: <code>2016</code>, <code>2017</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerSeason"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Tournaments/{season}": {
      "get": {
        "description": "Schedule - by Season",
        "operationId": "ScheduleBySeason",
        "summary": "Schedule - by Season",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n<br>Examples: <code>2016</code>, <code>2017</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Tournament"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/DfsSlatesByTournament/{tournamentid}": {
      "get": {
        "description": "DFS Slates - by Tournament",
        "operationId": "DfsSlatesByTournament",
        "summary": "DFS Slates - by Tournament",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DfsSlate"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/CurrentSeason": {
      "get": {
        "description": "Season Current",
        "operationId": "SeasonCurrent",
        "summary": "Season Current",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Season"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/Courses": {
      "get": {
        "description": "Courses",
        "operationId": "Courses",
        "summary": "Courses",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Courses"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/LeaderboardBasicFinal/{tournamentid}": {
      "get": {
        "description": "Leaderboard (Basic) [Final]",
        "operationId": "LeaderboardBasic[Final]",
        "summary": "Leaderboard (Basic) [Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LeaderboardBasic"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/LeaderboardBasic/{tournamentid}": {
      "get": {
        "description": "Leaderboard (Basic)",
        "operationId": "LeaderboardBasic",
        "summary": "Leaderboard (Basic)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LeaderboardBasic"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/LeaderboardFinal/{tournamentid}": {
      "get": {
        "description": "Leaderboard [Final]",
        "operationId": "Leaderboard[Final]",
        "summary": "Leaderboard [Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Leaderboard"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/FantasyGameStatsByTournament/{tournamentid}": {
      "get": {
        "description": "Fantasy Points - by Tournament",
        "operationId": "FantasyPointsByTournament",
        "summary": "Fantasy Points - by Tournament",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>78</code>, <code>79</code>, <code>80</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FantasyTournament"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerTournamentRoundScores/{tournamentid}": {
      "get": {
        "description": "Scores - by Tournament [Live & Final]",
        "operationId": "ScoresByTournament[LiveFinal]",
        "summary": "Scores - by Tournament [Live & Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TournamentRound"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerTournamentRoundScoresFinal/{tournamentid}": {
      "get": {
        "description": "Scores - by Tournament [Final]",
        "operationId": "ScoresByTournament[Final]",
        "summary": "Scores - by Tournament [Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TournamentRound"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerTournamentHoleScores/{tournamentid}": {
      "get": {
        "description": "Player Hole Scores - by Tournament [Live & Final]",
        "operationId": "PlayerHoleScoresByTournament[LiveFinal]",
        "summary": "Player Hole Scores - by Tournament [Live & Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerTournamentBasic"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerTournamentHoleScoresFinal/{tournamentid}": {
      "get": {
        "description": "Player Hole Scores - by Tournament [Final]",
        "operationId": "PlayerHoleScoresByTournament[Final]",
        "summary": "Player Hole Scores - by Tournament [Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "tournamentid",
            "in": "path",
            "description": "The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerTournamentBasic"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/PlayerSeasonStats/{season}": {
      "get": {
        "description": "Player Season Stats",
        "operationId": "PlayerSeasonStats",
        "summary": "Player Season Stats",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML",
            "enum": [
              "XML",
              "JSON"
            ]
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n<br>Examples: <code>2016</code>, <code>2017</code>.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlayerSeason"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/UpcomingDfsSlateOwnershipProjections": {
      "get": {
        "description": "Returns DFS Slates which have not yet started for which we have DFS Ownership projections.",
        "operationId": "DfsSlateOwnershipProjectionsUpcoming",
        "summary": "DFS Slate Ownership Projections - Upcoming",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML, JSON",
            "enum": [
              "XML, JSON"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DfsSlateWithOwnershipProjection"
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/{format}/DfsSlateOwnershipProjectionsBySlateID/{slateId}": {
      "get": {
        "description": "Slate Ownership Projections for a specific slate. Projections are for Guaranteed Prize Pool (GPP) format ownership. Will return an empty list if the slate is not yet projected or not a slate we have projections for.",
        "operationId": "DfsSlateOwnershipProjectionsBySlate",
        "summary": "DFS Slate Ownership Projections - by Slate",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "required": true,
            "type": "string",
            "default": "XML, JSON",
            "enum": [
              "XML, JSON"
            ]
          },
          {
            "name": "slateId",
            "in": "path",
            "description": "SlateID of the DFS Slate you wish to get ownership projections for. Will have an empty SlateOwnershipProjections if this slate was not projected",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DfsSlateWithOwnershipProjection"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "Tournament": {
      "properties": {
        "TournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "StartDate": {
          "type": "string",
          "x-nullable": true
        },
        "EndDate": {
          "type": "string",
          "x-nullable": true
        },
        "IsOver": {
          "type": "boolean",
          "x-nullable": false
        },
        "IsInProgress": {
          "type": "boolean",
          "x-nullable": false
        },
        "Venue": {
          "type": "string",
          "x-nullable": true
        },
        "Location": {
          "type": "string",
          "x-nullable": true
        },
        "Par": {
          "type": "integer",
          "x-nullable": true
        },
        "Yards": {
          "type": "integer",
          "x-nullable": true
        },
        "Purse": {
          "type": "number",
          "x-nullable": true
        },
        "StartDateTime": {
          "type": "string",
          "x-nullable": true
        },
        "Canceled": {
          "type": "boolean",
          "x-nullable": true
        },
        "Covered": {
          "type": "boolean",
          "x-nullable": true
        },
        "City": {
          "type": "string",
          "x-nullable": true
        },
        "State": {
          "type": "string",
          "x-nullable": true
        },
        "ZipCode": {
          "type": "string",
          "x-nullable": true
        },
        "Country": {
          "type": "string",
          "x-nullable": true
        },
        "TimeZone": {
          "type": "string",
          "x-nullable": true
        },
        "Format": {
          "type": "string",
          "x-nullable": true
        },
        "Rounds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Round"
          }
        },
        "SportRadarTournamentID": {
          "type": "string",
          "x-nullable": true
        },
        "OddsCoverage": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "Round": {
      "properties": {
        "TournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "RoundID": {
          "type": "integer",
          "x-nullable": false
        },
        "Number": {
          "type": "integer",
          "x-nullable": true
        },
        "Day": {
          "type": "string",
          "x-nullable": true
        },
        "IsRoundOver": {
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "Player": {
      "properties": {
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "FirstName": {
          "type": "string",
          "x-nullable": true
        },
        "LastName": {
          "type": "string",
          "x-nullable": true
        },
        "Weight": {
          "type": "integer",
          "x-nullable": true
        },
        "Swings": {
          "type": "string",
          "x-nullable": true
        },
        "PgaDebut": {
          "type": "integer",
          "x-nullable": true
        },
        "Country": {
          "type": "string",
          "x-nullable": true
        },
        "BirthDate": {
          "type": "string",
          "x-nullable": true
        },
        "BirthCity": {
          "type": "string",
          "x-nullable": true
        },
        "BirthState": {
          "type": "string",
          "x-nullable": true
        },
        "College": {
          "type": "string",
          "x-nullable": true
        },
        "PhotoUrl": {
          "type": "string",
          "x-nullable": true
        },
        "SportRadarPlayerID": {
          "type": "string",
          "x-nullable": true
        },
        "PgaTourPlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "RotoworldPlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "RotoWirePlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "FantasyAlarmPlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "DraftKingsName": {
          "type": "string",
          "x-nullable": true
        },
        "FantasyDraftName": {
          "type": "string",
          "x-nullable": true
        },
        "FanDuelName": {
          "type": "string",
          "x-nullable": true
        },
        "FantasyDraftPlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "DraftKingsPlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "FanDuelPlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "YahooPlayerID": {
          "type": "integer",
          "x-nullable": true
        }
      }
    },
    "Leaderboard": {
      "properties": {
        "Tournament": {
          "$ref": "#/definitions/Tournament"
        },
        "Players": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerTournament"
          }
        }
      }
    },
    "PlayerTournament": {
      "properties": {
        "PlayerTournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "TournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "Rank": {
          "type": "integer",
          "x-nullable": true
        },
        "Country": {
          "type": "string",
          "x-nullable": true
        },
        "TotalScore": {
          "type": "number",
          "x-nullable": true
        },
        "TotalStrokes": {
          "type": "number",
          "x-nullable": true
        },
        "TotalThrough": {
          "type": "integer",
          "x-nullable": true
        },
        "Earnings": {
          "type": "number",
          "x-nullable": true
        },
        "FedExPoints": {
          "type": "integer",
          "x-nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "x-nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "x-nullable": true
        },
        "DraftKingsSalary": {
          "type": "integer",
          "x-nullable": true
        },
        "DoubleEagles": {
          "type": "number",
          "x-nullable": true
        },
        "Eagles": {
          "type": "number",
          "x-nullable": true
        },
        "Birdies": {
          "type": "number",
          "x-nullable": true
        },
        "Pars": {
          "type": "number",
          "x-nullable": true
        },
        "Bogeys": {
          "type": "number",
          "x-nullable": true
        },
        "DoubleBogeys": {
          "type": "number",
          "x-nullable": true
        },
        "WorseThanDoubleBogey": {
          "type": "number",
          "x-nullable": true
        },
        "HoleInOnes": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfThreeBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "BogeyFreeRounds": {
          "type": "number",
          "x-nullable": true
        },
        "RoundsUnderSeventy": {
          "type": "number",
          "x-nullable": true
        },
        "TripleBogeys": {
          "type": "number",
          "x-nullable": true
        },
        "WorseThanTripleBogey": {
          "type": "number",
          "x-nullable": true
        },
        "TeeTime": {
          "type": "string",
          "x-nullable": true
        },
        "MadeCut": {
          "type": "number",
          "x-nullable": true
        },
        "Win": {
          "type": "number",
          "x-nullable": true
        },
        "TournamentStatus": {
          "type": "string",
          "x-nullable": true
        },
        "IsAlternate": {
          "type": "boolean",
          "x-nullable": true
        },
        "FanDuelSalary": {
          "type": "integer",
          "x-nullable": true
        },
        "FantasyDraftSalary": {
          "type": "integer",
          "x-nullable": true
        },
        "MadeCutDidNotFinish": {
          "type": "boolean",
          "x-nullable": true
        },
        "Rounds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerRound"
          }
        },
        "OddsToWin": {
          "type": "number",
          "x-nullable": true
        },
        "OddsToWinDescription": {
          "type": "string",
          "x-nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "x-nullable": true
        },
        "FantasyPointsFantasyDraft": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfFourBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfFiveBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "ConsecutiveBirdieOrBetterCount": {
          "type": "number",
          "x-nullable": true
        },
        "BounceBackCount": {
          "type": "number",
          "x-nullable": true
        },
        "RoundsWithFiveOrMoreBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "IsWithdrawn": {
          "type": "boolean",
          "x-nullable": false
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfSixBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        }
      }
    },
    "PlayerRound": {
      "properties": {
        "PlayerRoundID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerTournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "Number": {
          "type": "integer",
          "x-nullable": true
        },
        "Day": {
          "type": "string",
          "x-nullable": true
        },
        "Par": {
          "type": "integer",
          "x-nullable": true
        },
        "Score": {
          "type": "integer",
          "x-nullable": true
        },
        "BogeyFree": {
          "type": "boolean",
          "x-nullable": false
        },
        "IncludesStreakOfThreeBirdiesOrBetter": {
          "type": "boolean",
          "x-nullable": false
        },
        "DoubleEagles": {
          "type": "integer",
          "x-nullable": true
        },
        "Eagles": {
          "type": "integer",
          "x-nullable": true
        },
        "Birdies": {
          "type": "integer",
          "x-nullable": true
        },
        "Pars": {
          "type": "integer",
          "x-nullable": true
        },
        "Bogeys": {
          "type": "integer",
          "x-nullable": true
        },
        "DoubleBogeys": {
          "type": "integer",
          "x-nullable": true
        },
        "WorseThanDoubleBogey": {
          "type": "integer",
          "x-nullable": true
        },
        "HoleInOnes": {
          "type": "integer",
          "x-nullable": true
        },
        "TripleBogeys": {
          "type": "integer",
          "x-nullable": true
        },
        "WorseThanTripleBogey": {
          "type": "integer",
          "x-nullable": true
        },
        "Holes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerHole"
          }
        },
        "LongestBirdieOrBetterStreak": {
          "type": "number",
          "x-nullable": true
        },
        "ConsecutiveBirdieOrBetterCount": {
          "type": "number",
          "x-nullable": true
        },
        "BounceBackCount": {
          "type": "number",
          "x-nullable": true
        },
        "IncludesStreakOfFourBirdiesOrBetter": {
          "type": "boolean",
          "x-nullable": false
        },
        "IncludesStreakOfFiveBirdiesOrBetter": {
          "type": "boolean",
          "x-nullable": false
        },
        "IncludesFiveOrMoreBirdiesOrBetter": {
          "type": "boolean",
          "x-nullable": false
        },
        "IncludesStreakOfSixBirdiesOrBetter": {
          "type": "boolean",
          "x-nullable": false
        },
        "TeeTime": {
          "type": "string",
          "x-nullable": true
        },
        "BackNineStart": {
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "PlayerHole": {
      "properties": {
        "PlayerRoundID": {
          "type": "integer",
          "x-nullable": false
        },
        "Number": {
          "type": "integer",
          "x-nullable": true
        },
        "Par": {
          "type": "integer",
          "x-nullable": true
        },
        "Score": {
          "type": "integer",
          "x-nullable": true
        },
        "ToPar": {
          "type": "integer",
          "x-nullable": true
        },
        "HoleInOne": {
          "type": "boolean",
          "x-nullable": false
        },
        "DoubleEagle": {
          "type": "boolean",
          "x-nullable": false
        },
        "Eagle": {
          "type": "boolean",
          "x-nullable": false
        },
        "Birdie": {
          "type": "boolean",
          "x-nullable": false
        },
        "IsPar": {
          "type": "boolean",
          "x-nullable": false
        },
        "Bogey": {
          "type": "boolean",
          "x-nullable": false
        },
        "DoubleBogey": {
          "type": "boolean",
          "x-nullable": false
        },
        "WorseThanDoubleBogey": {
          "type": "boolean",
          "x-nullable": false
        }
      }
    },
    "News": {
      "properties": {
        "NewsID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "Title": {
          "type": "string",
          "x-nullable": true
        },
        "Content": {
          "type": "string",
          "x-nullable": true
        },
        "Url": {
          "type": "string",
          "x-nullable": true
        },
        "Source": {
          "type": "string",
          "x-nullable": true
        },
        "TermsOfUse": {
          "type": "string",
          "x-nullable": true
        },
        "Updated": {
          "type": "string",
          "x-nullable": true
        },
        "Author": {
          "type": "string",
          "x-nullable": true
        },
        "Categories": {
          "type": "string",
          "x-nullable": true
        },
        "OriginalSource": {
          "type": "string",
          "x-nullable": true
        },
        "OriginalSourceUrl": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "Injury": {
      "properties": {
        "InjuryID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "Active": {
          "type": "boolean",
          "x-nullable": false
        },
        "StartDate": {
          "type": "string",
          "x-nullable": true
        },
        "Status": {
          "type": "string",
          "x-nullable": true
        },
        "BodyPart": {
          "type": "string",
          "x-nullable": true
        },
        "ExpectedReturn": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "PlayerTournamentProjection": {
      "properties": {
        "PlayerTournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "TournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "Rank": {
          "type": "integer",
          "x-nullable": true
        },
        "Country": {
          "type": "string",
          "x-nullable": true
        },
        "TotalScore": {
          "type": "number",
          "x-nullable": true
        },
        "TotalStrokes": {
          "type": "number",
          "x-nullable": true
        },
        "TotalThrough": {
          "type": "integer",
          "x-nullable": true
        },
        "Earnings": {
          "type": "number",
          "x-nullable": true
        },
        "FedExPoints": {
          "type": "integer",
          "x-nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "x-nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "x-nullable": true
        },
        "DraftKingsSalary": {
          "type": "integer",
          "x-nullable": true
        },
        "DoubleEagles": {
          "type": "number",
          "x-nullable": true
        },
        "Eagles": {
          "type": "number",
          "x-nullable": true
        },
        "Birdies": {
          "type": "number",
          "x-nullable": true
        },
        "Pars": {
          "type": "number",
          "x-nullable": true
        },
        "Bogeys": {
          "type": "number",
          "x-nullable": true
        },
        "DoubleBogeys": {
          "type": "number",
          "x-nullable": true
        },
        "WorseThanDoubleBogey": {
          "type": "number",
          "x-nullable": true
        },
        "HoleInOnes": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfThreeBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "BogeyFreeRounds": {
          "type": "number",
          "x-nullable": true
        },
        "RoundsUnderSeventy": {
          "type": "number",
          "x-nullable": true
        },
        "TripleBogeys": {
          "type": "number",
          "x-nullable": true
        },
        "WorseThanTripleBogey": {
          "type": "number",
          "x-nullable": true
        },
        "TeeTime": {
          "type": "string",
          "x-nullable": true
        },
        "MadeCut": {
          "type": "number",
          "x-nullable": true
        },
        "Win": {
          "type": "number",
          "x-nullable": true
        },
        "TournamentStatus": {
          "type": "string",
          "x-nullable": true
        },
        "IsAlternate": {
          "type": "boolean",
          "x-nullable": true
        },
        "FanDuelSalary": {
          "type": "integer",
          "x-nullable": true
        },
        "FantasyDraftSalary": {
          "type": "integer",
          "x-nullable": true
        },
        "MadeCutDidNotFinish": {
          "type": "boolean",
          "x-nullable": true
        },
        "Rounds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerRound"
          }
        },
        "OddsToWin": {
          "type": "number",
          "x-nullable": true
        },
        "OddsToWinDescription": {
          "type": "string",
          "x-nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "x-nullable": true
        },
        "FantasyPointsFantasyDraft": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfFourBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfFiveBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "ConsecutiveBirdieOrBetterCount": {
          "type": "number",
          "x-nullable": true
        },
        "BounceBackCount": {
          "type": "number",
          "x-nullable": true
        },
        "RoundsWithFiveOrMoreBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "IsWithdrawn": {
          "type": "boolean",
          "x-nullable": false
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfSixBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        }
      }
    },
    "PlayerSeason": {
      "properties": {
        "PlayerSeasonID": {
          "type": "integer",
          "x-nullable": false
        },
        "Season": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "WorldGolfRank": {
          "type": "integer",
          "x-nullable": true
        },
        "WorldGolfRankLastWeek": {
          "type": "integer",
          "x-nullable": true
        },
        "Events": {
          "type": "integer",
          "x-nullable": true
        },
        "AveragePoints": {
          "type": "number",
          "x-nullable": true
        },
        "TotalPoints": {
          "type": "number",
          "x-nullable": true
        },
        "PointsLost": {
          "type": "number",
          "x-nullable": true
        },
        "PointsGained": {
          "type": "number",
          "x-nullable": true
        }
      }
    },
    "DfsSlate": {
      "properties": {
        "SlateID": {
          "type": "integer",
          "x-nullable": false
        },
        "Operator": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorSlateID": {
          "type": "integer",
          "x-nullable": true
        },
        "OperatorName": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorDay": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorStartTime": {
          "type": "string",
          "x-nullable": true
        },
        "NumberOfTournaments": {
          "type": "integer",
          "x-nullable": true
        },
        "IsMultiDaySlate": {
          "type": "boolean",
          "x-nullable": true
        },
        "RemovedByOperator": {
          "type": "boolean",
          "x-nullable": true
        },
        "OperatorGameType": {
          "type": "string",
          "x-nullable": true
        },
        "DfsSlateTournaments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DfsSlateTournament"
          }
        },
        "DfsSlatePlayers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DfsSlatePlayer"
          }
        },
        "SlateRosterSlots": {
          "type": "array",
          "items": {
            "type": "string",
            "x-nullable": true
          }
        }
      }
    },
    "DfsSlateTournament": {
      "properties": {
        "SlateTournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "SlateID": {
          "type": "integer",
          "x-nullable": false
        },
        "TournamentID": {
          "type": "integer",
          "x-nullable": true
        },
        "Tournament": {
          "$ref": "#/definitions/Tournament"
        },
        "OperatorTournamentID": {
          "type": "integer",
          "x-nullable": true
        },
        "RemovedByOperator": {
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "DfsSlatePlayer": {
      "properties": {
        "SlatePlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "SlateID": {
          "type": "integer",
          "x-nullable": false
        },
        "SlateTournamentID": {
          "type": "integer",
          "x-nullable": true
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": true
        },
        "PlayerTournamentProjectionID": {
          "type": "integer",
          "x-nullable": true
        },
        "OperatorPlayerID": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorSlatePlayerID": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorPlayerName": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorPosition": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorSalary": {
          "type": "integer",
          "x-nullable": true
        },
        "OperatorRosterSlots": {
          "type": "array",
          "items": {
            "type": "string",
            "x-nullable": true
          }
        },
        "RemovedByOperator": {
          "type": "boolean",
          "x-nullable": true
        }
      }
    },
    "Season": {
      "properties": {
        "SeasonID": {
          "type": "integer",
          "x-nullable": false
        },
        "Description": {
          "type": "string",
          "x-nullable": true
        },
        "StartDate": {
          "type": "string",
          "x-nullable": true
        },
        "EndDate": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "Courses": {
      "properties": {
        "TournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "StartDate": {
          "type": "string",
          "x-nullable": true
        },
        "EndDate": {
          "type": "string",
          "x-nullable": true
        },
        "Venue": {
          "type": "string",
          "x-nullable": true
        },
        "Location": {
          "type": "string",
          "x-nullable": true
        },
        "Par": {
          "type": "integer",
          "x-nullable": true
        },
        "Yards": {
          "type": "integer",
          "x-nullable": true
        },
        "Purse": {
          "type": "number",
          "x-nullable": true
        },
        "City": {
          "type": "string",
          "x-nullable": true
        },
        "State": {
          "type": "string",
          "x-nullable": true
        },
        "ZipCode": {
          "type": "string",
          "x-nullable": true
        },
        "Country": {
          "type": "string",
          "x-nullable": true
        },
        "TimeZone": {
          "type": "string",
          "x-nullable": true
        },
        "Format": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "LeaderboardBasic": {
      "properties": {
        "Tournament": {
          "$ref": "#/definitions/TournamentBasic"
        },
        "Players": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerTournamentBasic"
          }
        }
      }
    },
    "TournamentBasic": {
      "properties": {
        "TournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "StartDate": {
          "type": "string",
          "x-nullable": true
        },
        "EndDate": {
          "type": "string",
          "x-nullable": true
        },
        "IsOver": {
          "type": "boolean",
          "x-nullable": false
        }
      }
    },
    "PlayerTournamentBasic": {
      "properties": {
        "PlayerTournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "Rank": {
          "type": "integer",
          "x-nullable": true
        },
        "Country": {
          "type": "string",
          "x-nullable": true
        },
        "TotalScore": {
          "type": "number",
          "x-nullable": true
        },
        "TotalStrokes": {
          "type": "number",
          "x-nullable": true
        },
        "TotalThrough": {
          "type": "integer",
          "x-nullable": true
        },
        "Earnings": {
          "type": "number",
          "x-nullable": true
        },
        "FedExPoints": {
          "type": "integer",
          "x-nullable": true
        },
        "DoubleEagles": {
          "type": "number",
          "x-nullable": true
        },
        "Eagles": {
          "type": "number",
          "x-nullable": true
        },
        "Birdies": {
          "type": "number",
          "x-nullable": true
        },
        "Pars": {
          "type": "number",
          "x-nullable": true
        },
        "Bogeys": {
          "type": "number",
          "x-nullable": true
        },
        "DoubleBogeys": {
          "type": "number",
          "x-nullable": true
        },
        "WorseThanDoubleBogey": {
          "type": "number",
          "x-nullable": true
        },
        "HoleInOnes": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfThreeBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "BogeyFreeRounds": {
          "type": "number",
          "x-nullable": true
        },
        "RoundsUnderSeventy": {
          "type": "number",
          "x-nullable": true
        },
        "TripleBogeys": {
          "type": "number",
          "x-nullable": true
        },
        "WorseThanTripleBogey": {
          "type": "number",
          "x-nullable": true
        },
        "TeeTime": {
          "type": "string",
          "x-nullable": true
        },
        "MadeCut": {
          "type": "number",
          "x-nullable": true
        },
        "Win": {
          "type": "number",
          "x-nullable": true
        },
        "IsAlternate": {
          "type": "boolean",
          "x-nullable": true
        },
        "MadeCutDidNotFinish": {
          "type": "boolean",
          "x-nullable": true
        },
        "StreaksOfFourBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "StreaksOfFiveBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "ConsecutiveBirdieOrBetterCount": {
          "type": "number",
          "x-nullable": true
        },
        "BounceBackCount": {
          "type": "number",
          "x-nullable": true
        },
        "RoundsWithFiveOrMoreBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "IsWithdrawn": {
          "type": "boolean",
          "x-nullable": false
        },
        "StreaksOfSixBirdiesOrBetter": {
          "type": "number",
          "x-nullable": true
        },
        "Rounds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerRound"
          }
        }
      }
    },
    "FantasyTournament": {
      "properties": {
        "TournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "Season": {
          "type": "integer",
          "x-nullable": true
        },
        "TeeTime": {
          "type": "string",
          "x-nullable": true
        },
        "Name": {
          "type": "string",
          "x-nullable": true
        },
        "Rank": {
          "type": "integer",
          "x-nullable": true
        },
        "TournamentStatus": {
          "type": "string",
          "x-nullable": true
        },
        "FantasyPointsFanDuel": {
          "type": "number",
          "x-nullable": true
        },
        "FantasyPointsYahoo": {
          "type": "number",
          "x-nullable": true
        },
        "Updated": {
          "type": "string",
          "x-nullable": true
        },
        "FantasyPoints": {
          "type": "number",
          "x-nullable": true
        },
        "FantasyPointsDraftKings": {
          "type": "number",
          "x-nullable": true
        }
      }
    },
    "TournamentRound": {
      "properties": {
        "TournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerTournamentID": {
          "type": "integer",
          "x-nullable": false
        },
        "TotalScore": {
          "type": "number",
          "x-nullable": true
        },
        "TotalStrokes": {
          "type": "number",
          "x-nullable": true
        },
        "PlayerRoundScore": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlayerRoundScore"
          }
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "FirstName": {
          "type": "string",
          "x-nullable": true
        },
        "LastName": {
          "type": "string",
          "x-nullable": true
        },
        "Weight": {
          "type": "integer",
          "x-nullable": true
        },
        "Swings": {
          "type": "string",
          "x-nullable": true
        },
        "PgaDebut": {
          "type": "integer",
          "x-nullable": true
        },
        "Country": {
          "type": "string",
          "x-nullable": true
        },
        "BirthDate": {
          "type": "string",
          "x-nullable": true
        },
        "BirthCity": {
          "type": "string",
          "x-nullable": true
        },
        "BirthState": {
          "type": "string",
          "x-nullable": true
        },
        "College": {
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "PlayerRoundScore": {
      "properties": {
        "PlayerRoundId": {
          "type": "integer",
          "x-nullable": false
        },
        "Number": {
          "type": "integer",
          "x-nullable": true
        },
        "Day": {
          "type": "string",
          "x-nullable": true
        },
        "Par": {
          "type": "integer",
          "x-nullable": true
        },
        "Score": {
          "type": "integer",
          "x-nullable": true
        },
        "TeeTime": {
          "type": "string",
          "x-nullable": true
        },
        "IsWithdrawn": {
          "type": "boolean",
          "x-nullable": false
        }
      }
    },
    "DfsSlateWithOwnershipProjection": {
      "properties": {
        "SlateID": {
          "type": "integer",
          "x-nullable": false
        },
        "Operator": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorSlateID": {
          "type": "integer",
          "x-nullable": true
        },
        "OperatorName": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorDay": {
          "type": "string",
          "x-nullable": true
        },
        "OperatorStartTime": {
          "type": "string",
          "x-nullable": true
        },
        "SlateOwnershipProjections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DfsSlatePlayerOwnershipProjection"
          }
        }
      }
    },
    "DfsSlatePlayerOwnershipProjection": {
      "properties": {
        "SlateID": {
          "type": "integer",
          "x-nullable": false
        },
        "PlayerID": {
          "type": "integer",
          "x-nullable": false
        },
        "ProjectedOwnershipPercentage": {
          "type": "number",
          "x-nullable": false
        }
      }
    }
  },
  "tags": []
}